flask == 1.1.2
gunicorn == 19.9.0
#use this version of pytorch for Heroku , as the full version exceeds the Heroku size limit of 500 mb, this is the CPU version of pytorch
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
torchvision == 0.2.2
fastai == 1.0.52
werkzeug == 0.15.5
